*{
    margin: 0;
    padding: 0;

}
.container{
    padding-left: 100px;
    padding-right: 100px;
   
    background-color: rgb(243, 238, 238);

}
.container .task2{
    
    
    text-align: center;
}
.logo{
    text-align: left;
    margin-top: 30px;
    margin: 20px;

}
.task2{
    margin: 0;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}

.container1{
    display: inline;
    margin-inline: 300px;
}
.container1 .task2{
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
}
.container1 .logo{
    margin-top: 10px;
    position: absolute;
}


.PDetails{
    margin-left: 50px;
}.POView p{
    font-size: 20px;
}
.innerlist1{
    margin-left: 50px;
}
.innerlist1 li{
    font-size: 20px;
}
.innerlist2 li{
    font-size: 20px;
}
.PTLines{
    font-size: 20px;
}
.PTLines li{
    margin-left: 50px;
}
.TSubmission{
    font-size: 20px;
    
}
.TSubmission ul li{
    font-size: 20px;
    margin-left: 50px;
}
.mb{
    margin-bottom: 300px;
}